/* ────────────────────────────────────────────────────────────
 * Custom Theme for Walker
 * Made with Omarchist
 * ────────────────────────────────────────────────────────────
 */

@define-color selected-text #FFAA00;
@define-color text #ff4d00;
@define-color base #0F0F0F;
@define-color border #FFAA00;
@define-color foreground #05050A;
@define-color background #0F0F0F;

@define-color hover #05050A;
@define-color accent #FFAA00;


window .search-container,
window .search {
  background: alpha(@hover, 0.3);
  color: @foreground;
  border: 1px solid alpha(@border, 0.5);
  border-radius: 12px;
  padding: 8px 12px;
  margin: 4px 0;
  font-size: 14px;
  font-weight: 500;
}
